/* CONTACT PAGE */
.contact-page {
  background: #000;
  color: #fff;
    font-family: "Poppins", sans-serif;
}

/* Underline below Contact title */
.contact-line {
  width: 120px;
  border: 0.5px solid #444;
  margin: 10px auto;
}

/* Subtitle text */
.small-text {
  font-size: 14px;
  opacity: 0.8;
}

/* Main container */
.contact-container {
  margin-top: 20px;
}

/* LEFT SIDE DETAILS */
.left-details p,
.left-details a {
  color: #ddd;
  font-size: 15px;
  margin-bottom: 14px;
  letter-spacing: 0.5px;
}

.left-details a:hover {
  color: #fff;
}

/* FORM LABEL */
.form-label-small {
  font-size: 11px;
  letter-spacing: 2px;
  margin-top: 15px;
  display: block;
  color: #ddd;
}

/* FORM INPUTS */
.contact-input {
  width: 100%;
  background: transparent;
  border: 1px solid #444;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  outline: none;
  font-size: 14px;
}

.contact-input:focus {
  border-color: #888;
}

/* TEXTAREA */
.contact-textarea {
  width: 100%;
  height: 180px;
  background: transparent;
  border: 1px solid #444;
  padding: 10px;
  color: #fff;
  outline: none;
  margin-bottom: 20px;
  font-size: 14px;
}

.contact-textarea:focus {
  border-color: #888;
}

/* SEND BUTTON */
.contact-btn {
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: 0.3s;
}

.contact-btn:hover {
  background: #ccc;
}

/* RESPONSIVE FIX */
@media (max-width: 768px) {
  .left-details {
    margin-bottom: 30px;
    text-align: center;
  }

  .left-details p,
  .left-details a {
    text-align: center;
  }
}
