.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Background stays behind everything */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* behind signature */
}

/* Signature centered */
.signature-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  z-index: 1;
}

